<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button [matMenuTriggerFor]="appMenu">Games</button>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>create</mat-icon>
              <span>Create new game</span>
            </button>
            <button mat-menu-item>
              <mat-icon>new_releases</mat-icon>
              <span>Upcoming games</span>
            </button>
            <button mat-menu-item>
              <mat-icon>format_list_bulleted</mat-icon>
              <span>Past games</span>
            </button>
          </mat-menu>
      </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>